doctype html
html(lang='ja')
  head
    include ../partials/meta.pug
    link(rel='stylesheet' href='/stylesheets/stylesheets.css')
  body

    main(role='main')
      .page
        | !{content}

    include ../partials/footer

