---
layout: layouts/base
---

.container.is-fluid
  article
    header.logo
      img(src='images/SVG/logo_large.svg' alt='デザインとスクラム仲良くする会')

    section.content
      h1 デザインとスクラムなかよくする会とは
      p
        | 「デザインとスクラムがなかよくする会」は、スクラムについて興味のあるデザイナーやスクラムチームに参加しているデザイナー、スクラムチームでデザイナーと一緒に働くエンジニアやプロダクトオーナー、スクラムマスターの方が、日々の活動の中で抱えている課題や疑問、共有したい知見などを
        strong ゆる〜く
        | 集まって雑談や相談ができる場所を目指して運営しているコミュニティです。

      p
        | 現在はDiscord上でのみ運営されています。月に一度雑談会を開催している程度の活動をしています。

    section.content
      h2 参加について
      p
        | Discordの招待リンクから参加いただけます。
      p
        | 参加にあたっては、運営が定めている
        strong グラウンドルールとハラスメントポリシー
        | をご一読していただき、合意の上でご自由に参加してください。

      .discord_link
        h3 Discordはこちら
        a(href='https://discord.gg/V73hcGWEBd')
          | デザインとスクラムなかよくする会
          br
          | Discordに参加

    section.content
      h2 言い出しっぺはこの人たちです

      .administrator
        .member
          figure.avater
            img(src='images/hiromitsuuuuu_400x400.jpg')
          dl.name
            dt ひろみつ
            dd
              a(href='https://twitter.com/hiromitsuuuuu') @hiromitsuuuuu
        .member
          figure.avater
            img(src='images/ksmxxxxxx_400x400.jpg')
          dl.name
            dt ksm（かすみ）
            dd
              a(href='https://twitter.com/ksmxxxxxx') @ksmxxxxxx
